body {
  color: white;
  background-color: black;
}

.service-list {
  display: flex;
  flex-direction: column;
  font-size: large;
}

.service-list a {
  text-decoration: none;
  height: bold;
  color: rgb(167, 188, 206);
}

.service-list a:hover {
  text-decoration: underline;
}

.service-item {
  background-color: rgb(0, 0, 0);
}

.visit {
  display: flex;
  flex-direction: column;
}