<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()
    <ul class="service-list">
        <li><div class="service-item"><a asp-area="" asp-controller="Home" asp-action="RandomNumber">Random number</a></div></li>
        <li><div class="service-item"><a asp-area="" asp-controller="Home" asp-action="Time">Time</a></div></li>
        <li><div class="service-item"><a asp-area="" asp-controller="Home" asp-action="ViewingVisits">Visit statistic</a></div></li>
    </ul>
</body>
</html>
